
*{
    padding: 0;
    border: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

.m-top{
    margin-top: 100px;
    }
.m-top-h{
margin-top: 50px;
}

.p-custom{
    padding: 30px;
}

@media only screen and (min-width:1200px){
    .navbar{
        z-index:9; 
       }
       #carousel-cover-image,.landing-bg{
         position:absolute;
         width:100%;
         top:0;
       }
    .model-container{
        margin-top: 600px;
    }
}


.line{
border: 2px solid rgb(126, 199, 126);
border-radius: 50px;
width: 10%;
}
 .my-nav{
     background-color: rgba(91 131 6 / 50%) !important;
     
 }
 
.my-nav ul li{
    margin-right: 35px !important;
    text-transform: uppercase;
    font-family: 'Ramaraja', serif;
    font-size: 1rem;
    font-weight: 600;
   
    
}


.navbar-light .navbar-nav .nav-link {
  color: #000;
}
.navbar-light .navbar-nav .nav-link:hover {
    color: white;
  }


  @media only screen and (max-width:756px) {
    .navbar-brand img{
        max-width: 150px;
    }
 } 
.dropdown-menu{
    background-color: rgb(212 233 208 / 70%) !important;
}
.dropdown-menu a:hover{
    background-color: rgba(92, 121, 54, 0.6);
    color: white;

}

.my-index-nav{
    background-color: transparent !important;
}



.signup-bg{
    
    background: radial-gradient(circle, rgba(223, 240, 162, 0.827) 4%, rgba(172, 243, 248, 0.692) 81%), url(../image/signup-bg.jpg) center center fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
  overflow: hidden;
}

/* landing */
.landing-bg{
    background: radial-gradient(circle, rgba(34,193,195,0.8267682072829132) 4%, rgba(253,187,45,0.6418942577030813) 81%), url(../image/landing.jpg) center center fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
  overflow: hidden;
   
}
.landpage{
    margin-top: 10%;
}
.landpage-txt{
    text-transform: uppercase;
    text-align: center;
    font-size: 4rem;
    color: white;
    font-weight: 900;

}
.landpage-desc{
    text-align: center;
    color: white;
    font-style: oblique;
}

/* home page */
.my-caption{
    font-family: 'Bungee', cursive;
    top: 35%;
    text-transform: capitalize;
}

.home-bg{
   background-color: #e2fdf5;

}
 

.top-dest-text{
    
    bottom: 0;
    background: rgb(84 139 11 / 60%);  
    color: black;
    padding:0; 
    
}

.navbar-toggler-icon{
  
}



.bg-tvm{
    background-image: url(../image/tvm/palace.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 50vh;
    width: 100%;
    background-position: 2px;
}
 .breadcrumb{
    
   background: transparent;
} 
.breadcrumb a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.dist-name{
    font-size: 3rem;
    background-color:  rgba(000,000,000,.5);
    color: #e2fdf5;
    letter-spacing: 1rem;
    font-weight: bolder;
    text-transform: uppercase;
   
}
@media only screen and (max-width: 800px) {
    .dist-name{
        font-size: 2rem;   
    }
  } 
  .m-neg{
    margin-top: -40px;
}
  @media only screen and (max-width: 800px) {
    .m-neg{
        margin-top: -25px;
        
    }
  }  
.about-dist{
    padding: 50px;
    width: 50%;
    
}
@media only screen and (max-width: 912px) {
    .about-dist{
        padding: 0px;
        width: 100%;
    }
  } 
    
.about-dist p:first-child:first-letter {
    color: #000;
    float: left;
    font-family: Georgia;
    font-size: 75px;
    line-height: 60px;
    padding-top: 4px;
    padding-right: 8px;
    padding-left: 3px;
  }

/* footer */
.footer-div{
   padding: 50px;
   text-align: center;
   background-color: rgb(56, 56, 56);
   color: white;
}

/* idukki */
   .bg-idk
   {
    background-image: url(../image/idukki/bg-idk.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 50vh;
    width: 100%;
    background-position: 2px;
}

/* thrissur */
.bg-tsr{
    background-image: url(../image/trissur/Thrissur-Pooram.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 50vh;
    width: 100%;
    background-position: 2px;
}


/* district */
.bg-dist{
    background-image: url(../image/dist-page/dist-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
    width: 100%;
    background-position: 1px;
    
}
/* wayanad */
.bg-wynd{
    background-image: url(../image/wayanad/bg-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 50vh;
    width: 100%;
    background-position: 1px;
    
}
/* malappuram */
.bg-mlp{
    background-image: url(../image/malappuram/bg-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 50vh;
    width: 100%;
    
}
.card-img-top{
    height: 250px;
}
/* form */
.mt-neg{
    margin-top: -40%;
}
 .form-container{

float: left;
} 
.btn-login {
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    padding: 0.75rem 1rem;
  }
  
 



  /* signup form */
  .signup-form .card {
    border: 0;
    border-radius: 0px;
    margin-bottom: 30px;
    -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.03);
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.03);
    -webkit-transition: .5s;
    transition: .5s
}

.signup-form .padding {
    padding: 3rem !important
}


.signup-form h5.card-title {
    font-size: 2rem
}

.signup-form .fw-400 {
    font-weight: 400 !important
}

.signup-form .card-title {
    /* font-family: Roboto, sans-serif; */
    font-weight: 300;
    line-height: 1.5;
    margin-bottom: 0;
    padding: 15px 20px;
    /* border-bottom: 1px solid rgba(77, 82, 89, 0.07) */
}

.signup-form .card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 3.25rem;
    padding-top: 1px;
}

.signup-form .form-group {
    margin-bottom: 1rem
}

.signup-form .form-control {
    border-color: #ebebeb;
    border-radius: 2px;
    color: #8b95a5;
    padding: 5px 12px;
    font-size: 14px;
    line-height: inherit;
    -webkit-transition: 0.2s linear;
    transition: 0.2s linear
}

.signup-form .card-body>*:last-child {
    margin-bottom: 0
}





.signup-form .btn:hover {
    cursor: pointer
}

.signup-form .form-control:focus {
    border-color: #83e0d7;
    color: #4d5259;
    -webkit-box-shadow: 0 0 0 0.1rem rgba(51, 202, 187, 0.15);
    box-shadow: 0 0 0 0.1rem rgba(51, 202, 187, 0.15)
}

.signup-form .custom-radio {
    cursor: pointer
}

.signup-form .custom-control {
    display: -webkit-box;
    display: flex;
    min-width: 18px
}
.signup-form{
    
    text-align: center;
     margin-top: 3.5%; 
    margin-left: 8%;
}

@media only screen and (max-width: 300px) {
    .signup-form{
        padding:0;
        margin: 0;
    }
  } 